@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>
            <th>
                Rating
            </th>
            <th>
                Phone
            </th>
            <th>
                Facility Type
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.FacilityModels)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacilityType)
                </td>
            </tr>
        }
    </tbody>
</table>

@if (true)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.CurrentPage)"
       class="btn btn-default btn">
        <i class="glyphicon glyphicon-chevron-left"></i>
        Назад
    </a>
}
@if (true)
{
    <a asp-action="Index"
       asp-route-page="@(Model.PageViewModel.CurrentPage + 1)"
       class="btn btn-default btn">
        Вперед
        <i class="glyphicon glyphicon-chevron-right"></i>
    </a>
}
