@model Catalog.Models.IndexView
@addTagHelper "*, Catalog"
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>

<div class="page-wrapper">
    <form method="get" class="navigation">
        <div class="form-inline" div="700px">
            <label class="control-label">Facility name: </label>
                    @Html.TextBox("facilityName", Model.FilterModel.SelectedName, htmlAttributes: new { @class = "form-control" })

                    <label class="control-label">Type:</label>
                    @Html.DropDownList("facilityType", Model.FilterModel.FacilityTypes as SelectList,
                    htmlAttributes: new { @class = "form-control" })

                    <label class="control-label">Quality rating higher than: </label>
                    @Html.TextBox("rating", Model.FilterModel.SelectedRating, htmlAttributes: new { @class = "rating-label" })

                    <label class="control-label">Price rating higher than: </label>
                    @Html.TextBox("price", Model.FilterModel.SelectedRating, htmlAttributes: new { @class = "rating-label" })

                    <input type="submit" value="Filter" class="btn btn-default" style="margin-left:20px" />
                    <div class="dropdown">
                        <button class="dropbtn btn btn-default" style="background-color: cornflowerblue;margin-left:20px">Sort by</button>
                        <div class="dropdown-content">
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParam"]"
                               asp-route-facilityType="@(Model.FilterModel.SelectedType)"
                               asp-route-facilityName="@(Model.FilterModel.SelectedName)"
                               asp-route-rating="@(Model.FilterModel.SelectedRating)"
                               asp-route-price="@(Model.FilterModel.SelectedPrice)">Name</a>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParam"]"
                               asp-route-facilityType="@(Model.FilterModel.SelectedType)"
                               asp-route-facilityName="@(Model.FilterModel.SelectedName)"
                               asp-route-rating="@(Model.FilterModel.SelectedRating)"
                               asp-route-price="@(Model.FilterModel.SelectedPrice)">Price rating</a>
                            <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParam"]"
                               asp-route-facilityType="@(Model.FilterModel.SelectedType)"
                               asp-route-facilityName="@(Model.FilterModel.SelectedName)"
                               asp-route-rating="@(Model.FilterModel.SelectedRating)"
                               asp-route-price="@(Model.FilterModel.SelectedPrice)">Quality rating</a>
                        </div>
                    </div>
         </div>
    </form>
    <section class="cards-section text-center">
        <div class="box">
            <div class="container  right">
                <div id="cards-wrapper" class="cards-wrapper row">
                    @foreach (var item in Model.FacilityModels)
                    {
                        <div class="item item-green col-md-4 col-sm-6 col-xs-12">
                            <div class="item-inner" id="card1">
                                <div class="innerRectangle">
                                    @*id is for image binding. (wwwroot -> assets -> css -> #card1)*@
                                    <a asp-controller="Facility" asp-action="Place" asp-route-id="@item.Id">
                                        <h3 class="title" style="opacity: 1;">@item.Name</h3>
                                    </a>
                                </div>
                            </div><!--//item-inner-->
                        </div><!--//item-->
                    }
                </div><!--//cards-->
            </div><!--//container-->
        </div>
    </section><!--//cards-section-->
    <page-link page-model="Model.PageViewModel" page-action="Index"
               page-url-facilityType="@(Model.FilterModel.SelectedType)"
               page-url-facilityName="@(Model.FilterModel.SelectedName)"
               page-url-rating="@(Model.FilterModel.SelectedRating)"
               page-url-price="@(Model.FilterModel.SelectedPrice)"
               page-url-sortOrder="@ViewData["Buffer"]">
    </page-link>
</div><!--//page-wrapper-->