@model Catalog.Models.IndexView
@addTagHelper "*, Catalog"
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>
<div class="page-wrapper">
    <section class="cards-section text-center">
        <div class="box">
            <div class=" left ">
                <div class="dropdown">
                    <button class="dropbtn">Sort by</button>
                    <div class="dropdown-content">
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["PriceSortParm"]">Price</a><br />
                        <a asp-action="Index" asp-route-sortOrder="@ViewData["RatingSortParm"]">Rating</a>
                    </div>
                </div>
                <div class="filter">
                    <h4>Facility type</h4>
                    <select class="js-example-basic-single" name="state">
                        <option value="">--Choose an option--</option>
                        <option value="bar">Bar</option>
                        <option value="restaurant">Restaurant</option>
                        <option value="pub">Pub</option>
                    </select>
                </div>

            </div>
            <div class="container  right">
                <div id="cards-wrapper" class="cards-wrapper row">
                    @foreach (var item in Model.FacilityModels)
                    {
                        <div class="item item-green col-md-4 col-sm-6 col-xs-12">
                            <div class="item-inner" id="card1">
                                <div class="innerRectangle">
                                    @*id is for image binding. (wwwroot -> assets -> css -> #card1)*@
                                    <a asp-controller="Facility" asp-action="Place" asp-route-id="@item.Id">
                                        <h3 class="title" style="opacity: 1;">@item.Name</h3>
                                    </a>
                                </div>

                            </div><!--//item-inner-->
                        </div><!--//item-->
                    }
                </div><!--//cards-->
            </div><!--//container-->
        </div>
    </section><!--//cards-section-->
    <page-link page-model="Model.PageViewModel" page-action="Index"
        page-url-sortorder="@ViewData["Buffer"]"></page-link>
</div><!--//page-wrapper-->
