@using System.Globalization
@model Catalog.DAL.Models.Facility

@{
    ViewData["Title"] = "Place";
}


<div id="placeWrapper">

    <!-- Container with adaptive blocks -->
    <div class="masonry" style="margin-top: 50px;">
        <!-- Adaptive blocks -->
        <div class="itemT">

            <div id="itemRate">
                <h3>@Model.Name rate: </h3>
                <p>@Model.Rating</p>
                @for (int i = 0; i < (int)@Model.Rating; i++)
                {<span style="color: orange; font-size: 30px;">★</span>}
            </div>
        </div>

        <div class="itemT">
            <div id="itemInfo">
                <p class="itemDesc">Phone</p>
                <p>@Model.Phone</p>
                <p class="itemDesc">Schedule:</p>
                <p>@Model.Schedule.Open - @Model.Schedule.Closed</p>
                <p class="itemDesc">Address</p>
                <p>@Model.Address.Street</p>
                <p class="itemDesc">Type</p>
                <p>@Model.FacilityType</p>
            </div>
        </div>
        <!-- End of block with adaptive -->

    </div>
    <!-- End of container -->



    <div id="map" style=" width: 100%; height: 400px;"></div>

    <div id="feedbacks">
        <h3>Feedbacks</h3>

        @foreach (var item in Model.Feedbacks)
        {
            <div class="feedBackItem">
                <p class="feedBackAuthor"><span>@item.Author</span> @for(int i = 0; i < @item.Rating; i++) {<span style="color: orange;">★</span>}   @for(int i = 0; i < @item.Price; i++) {<span style="color: green;">$</span>}</p>
                <p class="feedBackMessage">@item.Message</p>
                <p class="feedBackDate">@item.Date.Day. @item.Date.ToString("MMMM", new CultureInfo("en"))</p>
            </div>
                }
            
        </div>



    <div style="width: 100%">
        @if (User.Identity.IsAuthenticated)
        {
            <form asp-action="AddFeedback" asp-route-id="@Model.Id">
                <div class="container-fluid" style="margin-top:15px;">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4>Leave Feedback</h4>
                        </div>
                        <input name="Rating" type="hidden" id="mark" />
                        <input name="Price" type="hidden" id="price" />
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 ">
                                    <ul class="rating text-center">
                                        <li class="star" id="mark-one" onclick="Star(1)"></li>
                                        <li class="star" id="mark-two" onclick="Star(2)"></li>
                                        <li class="star" id="mark-three" onclick="Star(3)"></li>
                                        <li class="star" id="mark-four" onclick="Star(4)"></li>
                                        <li class="star" id="mark-five" onclick="Star(5)"></li>
                                    </ul>
                                    <p class="text-center col-md-12 col-sm-12 col-xs-12">Rating</p>
                                </div>
                                <div class="form-group col-md-6 col-sm-6 col-xs-12 ">
                                    <ul class="price text-center">
                                        <li class="dollar" id="dollar-one" onclick="Dollar(1)"></li>
                                        <li class="dollar" id="dollar-two" onclick="Dollar(2)"></li>
                                        <li class="dollar" id="dollar-three" onclick="Dollar(3)"></li>
                                        <li class="dollar" id="dollar-four" onclick="Dollar(4)"></li>
                                        <li class="dollar" id="dollar-five" onclick="Dollar(5)"></li>
                                    </ul>
                                    <p class="text-center col-md-12 col-sm-12 col-xs-12">Price</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <input name="Message" type="text" class="form-control  " />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-3 pull-right">
                                    <input type="submit" class="form-control btn btn-success " value="Leave Feedback" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        }
    </div>

</div>

<script>
    var starId = ["mark-one", "mark-two", "mark-three", "mark-four", "mark-five"]
    var dollarId = ["dollar-one", "dollar-two", "dollar-three", "dollar-four", "dollar-five"]
    var mark = 0;
    var dollar = 0;

    function Star(i) {
        for (index = 0; index < starId.length; index++) {
            document.getElementById(starId[index]).style.color = "#fff";
        }

        for (index = 0; index < i; index++) {
            document.getElementById(starId[index]).style.color = "#ffdb11";
        }

        mark = i;
        document.getElementById("mark").value = mark;
    }

    function Dollar(i) {
        for (index = 0; index < dollarId.length; index++) {
            document.getElementById(dollarId[index]).style.color = "#fff";
        }

        for (index = 0; index < i; index++) {
            document.getElementById(dollarId[index]).style.color = "#0ddbb5";
        }

        dollar = i;
        document.getElementById("price").value = dollar;
    }
</script>


<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 18,
            center: { lat: 49.5017, lng: 24.0123 }
        });
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder, map);

    }

    var ModelAddress = document.getElementById('city').value + " " + document.getElementById('street').value + " " + document.getElementById('houseNumber').value;

    function geocodeAddress(geocoder, resultsMap) {
        var address = ModelAddress;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === 'OK') {
                resultsMap.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: resultsMap,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

</script>


<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBW9c1zAjzY6_4YXrZNowJyQrJLOz8RAS8&callback=initMap">
</script>
