@model Catalog.DAL.Models.Facility

@{
    ViewData["Title"] = "Place";
}

<h2>Place Page</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Type</th>
            <th scope="col">Price</th>
            <th scope="col">Rating</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Schedule</th>
        </tr>        
    </thead>
    <tbody>
        <tr>
            <td>
                @Model.Name
            </td>
            <td>
                @Model.FacilityType
            </td>
            <td>
                @Model.Price
            </td>
            <td>
                @Model.Rating
            </td>
            <td>
                @Model.Phone
            </td>
            <td>
                @Model.Address.Street
            </td>
            <td>
                @Model.Schedule.Open - @Model.Schedule.Closed
            </td>
        </tr>
       @foreach (var item in Model.Feedbacks)
       {
           <tr>
               <td colspan="7">
                   @item.Message                  
               </td>
           </tr>
       }

    </tbody>

</table>
