@model Catalog.BLL.ViewModels.FacilitiesUsersRoles
@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid" style="margin-top:20px">
    <div class="row">
        <h4>Database</h4>

    </div>
    <div class="row">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked" role="tablist" style="margin-bottom:15px;">
                <li role="presentation"><a href="#facilities" aria-controls="facilities" role="tab" data-toggle="pill">Facilities</a></li>
                <li role="presentation"><a href="#users" aria-controls="users" role="tab" data-toggle="pill">Users</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="facilities">
                    <div class="well">
                        <a asp-action="CreateFacility" style="margin:5px;">Create new Facility</a>
                    </div>
                    @foreach (var item in Model.Facilities)
                    {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5>@item.Name</h5>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Type</th>
                                                <th scope="col">Price</th>
                                                <th scope="col">Rating</th>
                                                <th scope="col">Phone</th>
                                                <th scope="col">Address</th>
                                                <th scope="col">Schedule</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @item.FacilityType
                                                </td>
                                                <td>
                                                    @item.Price
                                                </td>
                                                <td>
                                                    @item.Rating
                                                </td>
                                                <td>
                                                    @item.Phone
                                                </td>
                                                <td>
                                                    @item.Address.Street @item.Address.HouseNumber, @item.Address.City
                                                </td>
                                                <td>
                                                    @item.Schedule.Open - @item.Schedule.Closed
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer" style="height:41px;">
                                <div class="col-md-6 col-sm-9 col-xs-12">
                                    <a asp-action="EditFacility" asp-route-id="@item.Id" style="margin:5px;">Edit</a>
                                    <a asp-action="DeleteFacility" asp-route-id="@item.Id" style="margin:5px;">Delete</a>
                                </div>
                            </div>
                        </div>
                    }

                </div>
                <div role="tabpanel" class="tab-pane" id="users">
                    <div class="well">
                        <a asp-action="CreateUser" style="margin:5px;">Create new User</a>
                    </div>
                    @foreach (var item in Model.Users)
                    {
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h5>@item.Name</h5>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Email</th>
                                                <th scope="col">Password</th>
                                                <th scope="col">Role</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @item.Email
                                                </td>
                                                <td>
                                                    @item.Password
                                                </td>
                                                <td>
                                                    @Model.Roles.ElementAt(item.Roleid - 1).Name
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="panel-footer" style="height:41px;">
                                <div class="col-md-6 col-sm-9 col-xs-12">
                                    @if (item.Email != "admin@gmail.com")
                                    {
                                        <a asp-action="EditUser" asp-route-id="@item.Id" style="margin:5px;">Edit</a>
                                        <a asp-action="DeleteUser" asp-route-id="@item.Id" style="margin:5px;">Delete</a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>


    </div>
</div>
